@use "../../../scss/Animation.css";
@import "@/globals.css";

section.header#header {
	position: relative;
	top: 0;
	left: 0;
	user-select: none;
	pointer-events: none;
	height: 100dvh;
	width: 100%;
	max-width: 100%;
	padding: 0;
	margin: 0;
	margin-top: -6rem; // offset the first row-gap in #main
	text-shadow: var(--textShadowDarkValue);
	transition: height 0.35s ease-in-out;

	.home-grp {
		width: 100%;
		height: 100dvh;
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		justify-content: center;
		row-gap: 1.25rem;
		// outline: 1px solid #ccc;
	}

	.homelogo {
		opacity: 0;
	}

	.home-logo {
		margin-top: -20vh;
		min-width: 140px;
		max-width: 140px;
		width: 10vw;
		opacity: 0;
		transform: scale(1.6);

		.Ummi-logo {
			max-width: 100%;

			img {
				width: 20vw;
				height: auto;
				min-width: 120px;
				min-height: 120px;
				aspect-ratio: 1;

			}
		}
	}

	u {
		text-decoration-color: var(--yellow);
		text-decoration-thickness: 4px;
	}

	.wgrp {
		width: 100%;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
		margin-bottom: -20vh;

		.r1 {
			width: fit-content;
		}

		.r2 {
			width: 100%;
			display: flex;
			justify-content: center;
			column-gap: 6px;
			margin-left: 26px;

			.w1:after {
				content: ",";
				color: var(--grey);
			}
		}

		.wgrp {
			opacity: 0;
			text-shadow: 0px 0px 10px rgba(10, 10, 10, 1), 0px 0px 6px rgba(10, 10, 10, 1), 0px 0px 4px rgba(10, 10, 10, 1);
		}

		.w0,
		.w1,
		.w2,
		.w3,
		.w4,
		.w5 {
			opacity: 0;
		}

		.w0 {
			transform: translateY(100%);
			-webkit-text-stroke: none;
			transition: all 0.35s ease-in-out;
		}

		.w0.active {
			color: transparent;
			-webkit-text-stroke: 1px rgba(250, 150, 150, 1);
			transition: all 0.35s ease-in-out;
		}

		.w1 {
			transform: translateX(80%) scale(0.7);
		}

		.w2 {
			transform: translateY(-100%);
		}

		.w2.active {
			transform: scaleY(-100%);
		}

		.w3 {
			transform: rotateY(720deg);
			color: var(--lightBlue);
		}

		.w4 {
			transform: translateX(-80%) rotateY(6turn);
		}
	}

	.a1 {
		opacity: 0;
		transform: scaleY(-100%);
	}

	.arrow-grp-1 {
		position: fixed;
		top: 70%;
	}

	.arrow-grp-3 {
		transform: translate(40px, 0px);
	}

	.arrow-cont {
		svg.arrow {
			width: 34px;
			height: 34px;
			opacity: 0.75;
			fill: var(--lightBlue);
		}
	}
}

section.header.stage-3 {
	height: auto;
	transition: height 0.35s ease-in-out;
}