@use "@/scss/_variables.scss";
@import "@/globals.css";

::root {
	--transition: 0.2s cubic-bezier(0.53, 0, 0.54, 1);
}

div.AccordionRoot {
	background-color: transparent;
	margin: 0;
	margin-top: 0.5rem;
	position: relative;
	transition: all var(--transition);
	display: block;
	// &.expanded {
	// 	display: none;
	// }
}
div.AccordionRoot > div {
	transition: all var(--transition);
	background: rgba(50, 50, 50, 0.2);
	border-radius: var(--border-radius);
}

/* Style for expanded accordion */
.expanded-accordion {
	position: relative;
	transition: all var(--transition);
}
.AccordionItem {
	transition: all var(--transition);
}

span.MuiTypography-root {
	font-family: "Plus Jakarta Sans", sans-serif;
}
div.MuiPaper-root {
	margin: 0.75rem 0;
	border: none;

	border-radius: var(--border-radius);
	box-shadow: unset;
	background: none;
	text-shadow: 2px 0px 7px rgba(0, 0, 0, 0.49);
	position: relative;
	display: flex;
	flex-direction: column;
	div.MuiCollapse-wrapperInner {
		flex-grow: 1;
	}
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
	&::-webkit-scrollbar {
		display: none;
	}
	&::before {
		display: none;
	}
}
h3.MuiAccordion-heading {
	word-break: break-all;
	word-wrap: break-word;
	color: var(--lightBlue);
	transition: all var(--transition);
	text-align: center;
	font-size: variables.$acc_title_size;

	button.MuiButtonBase-root {
		justify-content: center;
		column-gap: 0rem;
		min-height: 48px;

		span.MuiAccordionSummary-expandIconWrapper {
			display: none;
		}

		span.MuiAccordionSummary-content {
			flex-flow: row nowrap;
			flex-grow: 1;
			align-content: center;
			align-items: center;
			column-gap: 0.5rem;
			// outline: 1px solid #999;
			transition: all var(--transition);
			height: auto;
			padding: 0;
			margin: 0;
			position: relative;

			.toolboxes {
				display: flex;
				flex-flow: column wrap;
				justify-content: space-evenly;
				// outline: 1px solid #ccc;

				div.btn.toolbox {
					width: 20px;
					height: 20px;
					// outline: 1px solid #ccc;
					> svg {
						width: 20px;
						height: 20px;
					}
				}
			}

			.cont {
				display: flex;
				font-size: variables.$acc_title_size;
				line-height: 1.1;
				font-weight: 900;
				text-align: center;
				column-gap: 0.25rem;
				opacity: 1;
				/* outline: 1px solid #999; */
				flex-grow: 1;
				column-gap: 0.65rem;
				justify-content: center;

				> div {
					position: relative;
					// outline: 1px solid #ccc;
					height: 100%;
					&::after {
						content: "";
						// font-size: variables.$h2_size;
						position: absolute;
						bottom: 0%;
						right: 0;
						width: 7px;
						height: 7px;
						border-radius: 50%;
						opacity: 0.5;
						background-color: var(--primary);
						// outline: 2px solid var(--primary);
						transform: translate(120%, -100%);
					}
				}
			}
			.toolbox-icon {
				// position: absolute;
				// right: 0;
				color: var(--yellow);
			}
			div.AccordionItemFavourite {
				position: absolute;
				height: fit-content;
				transition: all var(--transition);
			}
		}
	}
}

.MuiAccordionSummary-expandIconWrapper {
	width: 36px;
	height: 36px;
	.Mui-expanded {
		display: none;
	}
	svg {
		width: 100%;
		height: 100%;
		path {
			fill: var(--yellow);
			stroke: var(--yellow);
		}
	}
}

.MuiPaper-root.MuiAccordion-root {
	transition: all var(--transition);
	outline: 1px solid rgba(150, 150, 150, 0.25);
	background-color: rgba(94, 111, 207, 0.2);
}
.MuiAccordion-root,
.accordion {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 0 0 0.5rem 0;
	outline: 1px solid #707070;
	border-radius: var(--border-radius);
	padding: 0.5rem 0;
	position: relative;
	background: transparent;

	&.active {
		z-index: 100;
		transition: all var(--transition);
	}
	.btn.close {
		display: none;
		position: absolute;
		right: 1rem;
		top: 4px;
		width: 30px;
		height: 30px;
	}
	&.Mui-expanded {
		.btn.close {
			display: block;
		}
	}
	header {
		display: flex;
		h3 {
			margin: 0;
			font-size: variables.$h1_size;
			transition: all var(--transition);
		}
	}
	.btn.scenario button {
		background-color: transparent;
	}
}
.MuiAccordion-root .MuiCollapse-root {
	max-height: calc(90vh - 150px);
	overflow-y: scroll;
	display: none;
}
.MuiAccordion-region {
	width: 100%;
	height: auto;
	min-height: fit-content;
	margin-bottom: 2rem;
}
