@use '@/scss/variables';
@import '@/globals.css';

body div.main section.activity.activity-privacy-cta div.cta {
  div.inner {
    u {
      text-decoration-color: var(--orange50Trans);

      h3.title {
        text-align: center;
        color: var(--primary);
      }
    }

    .cta-content {
      text-align: center;
    }
  }
}
