@use '@/scss/variables';
@import '@/globals.css';

body div.main section.activity-days-counter-cta div.cta {
  .inner {
    background-color: var(--orange60Trans);

    u {
      text-decoration-color: var(--blue30Trans);
    }

    h3.title {
      color: var(--primary);
      font-weight: 900;
      font-variation-settings: 'wght' 900;
      text-align: right;
      text-shadow: none;
    }

    .cta-content {
      p {
        text-align: right;
      }
    }

    &::after {
      background-color: var(--greyDark20Trans);
    }
  }
}
