@import "@/globals.css";

.btn.toolbox {
	outline: none;
	border: none;
	background: none;
	svg {
		color: var(--primary);
	}
	&.active {
		svg {
			color: var(--yellow);
		}
	}
}
.MuiAccordion-root {
	.MuiAccordion-heading {
		.MuiAccordionSummary-root.AcronymTitle {
			position: relative;

			.MuiAccordionSummary-content {
				// height: 100%;
				// outline: 1px solid 999;
				.btn.toolbox {
					width: 28px;
					height: 28px;
					// outline: 1px solid #ccc;
					// min-height: 100%;
					// display: flex;
					// outline: 1px solid #ccc;
					// justify-content: center;
					// align-items: center;
					// // position: absolute;

					// transform: translate(0, 50%);
					transition: all 0.35s ease-in-out;
					svg {
						width: 100%;
						height: 100%;
					}
				}
			}
		}
	}
	&.Mui-expanded {
		.MuiAccordion-heading {
			.MuiAccordionSummary-root.AcronymTitle {
				.MuiAccordionSummary-content {
					.btn.toolbox {
						// left: 3vw;
					}
				}
			}
		}
	}
}
