button.close-btn {
  position: fixed;
  right: 0;
  top: 0;
  width: 60px;
  height: 60px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 15501;
  margin: 0;
  padding: 0;
  box-shadow: none;

  .close-btn-wrap {
    position: relative;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .close-btn-inner {
    transform-origin: 50% 50%;
    width: 100%;
    height: 100%;
    position: relative;
    transform: rotate(45deg) scale(50%);

    div {
      background-color: #fff;
      position: absolute;
      transform-origin: 50% 50%;
    }

    div:first-child {
      transform: translate(0%, 0%);
      width: 100%;
      height: 4px;
      top: calc(50% - 2px);
    }

    div:last-child {
      width: 4px;
      height: 100%;
      left: calc(50% - 2px);
      transform: translate(0%, 0%);
    }
  }

  svg {
    width: 100%;
    height: 100%;

    path {
      fill: #fff;
    }
  }
}
