@use '@/scss/variables';
@import '@/globals.css';

body div.main section.activity-wheel-of-life-cta div.cta {
  div.inner {
    u {
      text-decoration-color: var(--orange30Trans);

      h3.title {
        color: var(--pink);
        text-decoration-color: var(--orange40Trans);
      }

      .cta-content {
        color: var(--orange40Trans);
      }
    }

    // background-color: var(--blueDark10Trans);
  }

  .bg-img {
    opacity: 0.5;

    img {
      opacity: 0.5;
    }
  }
}