@use "@/scss/_variables.scss";
@use "buttons/buttonStyles.css";
@import "@/globals.css";
body button.btn.install{
    margin:1.5rem auto;
    font-size:1.5rem;
    font-weight:600;
    width:fit-content;
    outline:1px solid rgba(150,150,150,0.25);
    box-shadow: 0px 0px 12px 3px rgba(10,10, 10, 0.25);  
    padding:0.75rem 2.25rem 0.75rem 1.5rem;
    .Ummi-logo.small{
        width:50px;
        min-width:0px;
    }
}