@use "@/scss/variables";
@import "@/globals.css";
@import "@/scss/Animation.css";

span.MuiBadge-badge.MuiBadge-standard {
	color: #fff;
}

$width: 28px;

.badge-cont {
	position: fixed;
	top: 1.5rem;
	left: 1.5rem;
	opacity: 1;
	transition: all 0.25s cubic-bezier(0.3, 0, 0.74, 1);
	z-index: 6010;
	transform: translateX(0) scale(1);

	&.stg-0,
	&.stg-1,
	&.stg-2,
	&.stg-3,
	&.hide {
		opacity: 0;
		transform: translateX(-30px) scale(0.7);
		transition: all 0.25s cubic-bezier(0.3, 0, 0.74, 1);
	}
}

span.tooltip {
	font-size: 3rem;
}

.badge-toolbox {
	user-select: none;
	visibility: hidden;

	&.open {

		visibility: visible;
		user-select: auto;
	}
}

.badge.toolbox {
	text-shadow: var(--textShadowDarkValue);
	opacity: 0.5;
	transition: all var(--transition2);
	// animation: bounce-out 0.25s ease-in-out;
	position: relative;
	z-index: 6001;

	.MuiBadge-badge {
		background: var(--greyDark);
	}

	svg {
		width: $width;
		height: $width;
		margin: 0.5rem;

		fill: #fff;
	}

	.icon {
		position: relative;
		z-index: 4001;
	}

	&::after {
		content: "";
		position: absolute;
		top: -12.5%;
		left: -12.5%;
		width: 125%;
		height: 125%;
		border-radius: 50%;
		background-color: var(--lightBlue);
	}

	&.active {
		transition: all var(--transition2);
		opacity: 1;
		animation: bounce-in 0.25s ease-in-out;

		&::after {
			transition: all var(--transition2);
			background-color: var(--orange);
			opacity: 1;
		}
	}
}

// .snackBar.alert {
// 	z-index: 4000;
// 	height: fit-content;
// 	div.MuiPaper-root {
// 		height: fit-content;
// 		max-height: fit-content;
// 		margin: 0;
// 		flex-direction: row;
// 		position: relative;
// 		// color: var(--secondary);
// 		// &::after {
// 		// 	content: "";
// 		// 	width: 100%;
// 		// 	height: 100%;
// 		// 	position: absolute;
// 		// 	top: 0;
// 		// 	left: 0;
// 		// 	z-index: -1;
// 		// 	border-radius: 0;
// 		// 	top: 0;
// 		// 	left: 0;
// 		// 	background: var(--mainBackground);
// 		// 	opacity: 1;
// 		// 	border-radius: 8px;
// 		// }
// 	}
// }