@use './scss/_variables.scss';
@import '@/globals.css';

.point:first-child {
    max-width: 100%;
}


section.intro .feature {

    position: relative;
    min-height: 35dvh;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    column-gap: 0.25rem;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    // outline: 1px solid #666;

    text-align: center;
    text-shadow: var(--textShadowDarkValue);

    .inner {
        max-width: 90%;
        // outline: 1px solid #773a3a;
        display: flex;
        column-gap: 0.25rem;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        row-gap: 0;
        padding: 0;
        margin: 0;
        height: auto;
    }

    // p {
    //     font-weight: 900;
    //     font-variation-settings: 'wght' 900;
    //     font-size: variables.$h2_size;

    // }
    h2 {
        max-width: 100%;
        margin: 0 0.5rem;
        text-align: left;
    }

    p {
        line-height: 0.95;
        text-transform: uppercase;
        font-size: 10.5dvw;
        text-align: left;
        padding: 0 0.5rem;
        color: var(--greyLight);
        -webkit-text-stroke: 0.5px;
        -webkit-text-stroke-color: var(--primary);
        -webkit-text-fill-color: transparent;

        u {
            text-decoration: none;
            font-weight: 900;
            font-variation-settings: 'wght' 900;



        }
    }

    &:first-child {
        p {
            text-transform: none;
            -webkit-text-stroke: 0px;
            color: var(--primary);
            font-size: 10.5dvw;
            -webkit-text-fill-color: var(--primary);

            span {
                color: var(--blue);
                -webkit-text-fill-color: var(--lightBlue);
            }
        }
    }

    .icon {
        position: absolute;
        left: 50%;
        right: 50%;
        top: 50%;
        bottom: 50%;
        width: 80%;
        max-width: 240px;
        height: 100%;
        z-index: 100;
        opacity: 0.35;
        fill: var(--lightBlue);
        transform: translate(-50%, -50%) scale(1);
        transition: all 0.5s ease-in-out;
        margin-top: 0;
    }

    p {
        width: fit-content;
        position: relative;
        font-weight: 900;
        font-variation-settings: 'wght' 900;
        // font-size: variables.$h2_size;

        u {
            text-decoration-color: var(--primary);
            text-decoration-thickness: 6px;
            font-weight: 900;
            font-variation-settings: 'wght' 900;
        }
    }
}

section.intro.feature.out {
    .icon {
        transform: scale(1.5);
        filter: blur(250px);
        -webkit-filter: blur(250px);
        opacity: 0;
        transition: all 0.5s ease-in-out;
        transform: translate(-50%, -100%) scale(1.5);
    }

    &.initial {
        .icon {
            transform: translate(-50%, 40%) scale(1.5);
        }
    }
}