@use "./scss/_variables.scss";
@import "@/globals.css";

#intro{
	scroll-padding-top: 60px;
	padding-top:100px;
	
}

section.intro {

	color: var(--primary);
	margin: 2.5rem 0;
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	row-gap: 2.75rem;
	justify-content: center;
	align-items: center;
	margin-top: 120dvh;
	position: relative;
	z-index: 3010;
	overflow-x:clip;
	text-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
	// h1,h2,h3,h4,h5, p,section{
	// 	  text-shadow: 0 4px 6px rgba(0, 0, 0, 1);
	// }

	.sub{
		margin:4rem 0;
		position:relative;
	}
	
	.sub::after{
		content:"";
		position:absolute;
		top:0;
		left:0;
		width:115%;
		height:130%;
		background-color:var(--blue);
		opacity:0.4;
		z-index:-1;
		transform: rotate(3deg) translate(-7.5%, -10%);
	}
	.sub:nth-child(0)::after{
		display:none;
	}
	.sub:nth-child(even)::after{
		transform: rotate(-3deg) translate(-4.5%, -10%);
		background-color:var(--greyDark);
		opacity:0.3;
		height:120%;
		width:120%;
	}
	
	.lrg{
		font-size:1.75rem;
		color:var(--yellow);
		font-weight: 800;
		font-variation-settings: "wght" 800;
		background-color:var(--blue);	
	}
	p {
		margin-bottom: 0.5rem;
		
	}
	p u {
		text-decoration-color: var(--yellow);
		text-decoration-thickness: 4px;
		
	}
	&.tip {
		color: var(--yellow);
	}
	&.start {
		font-weight: 600;
	}
	h2{
		font-size:variables.$h1_size;

		u{
			position: relative;
			display: inline-block;
			text-decoration-color: var(--yellow);
			&::after {
				content: " ";
				width: 145%;
				height: 60%;
				background-color: var(--yellow);
				opacity: 0.4;
				position: absolute;
				top: 20%;
				left:-15%;
				z-index: -1;

				margin-top: 5%;
				margin-left: -5.5%;
				transform:rotate(-3deg);
			}
		}
	}
	.i3{
		u{
			text-decoration-color: var(--yellow);
			text-decoration-thickness: 3px;
		}
		b{
			color: var(--lightBlue);
		}
	}
	.respect{
		h4 {
			font-size: variables.$h4_size;
			font-weight: variables.$h4_weight;
		}
		u {
			text-decoration-color: var(--yellow);
			text-decoration-thickness: 4px;
		}
	}
	
	.ummi{
		font-size:variables.$h1_size;
	
	}
	.quick-access,
	.days-section{
		.title{
			font-size:variables.$h4_size;
			font-weight:600;
			width:80%;
			margin:0 auto;
		}
	}
}
