@use './scss/_variables.scss';
@import '@/globals.css';

/* SHARED */
#intro {
  scroll-padding-top: 60px;
  padding-top: 40px;
  margin: 0 1rem;
}

body section.intro {
  position: relative;
  color: var(--primary);
  margin: 0 0.75rem;

  max-width: 400px;
  width: 100%;
  flex-flow: column wrap;
  row-gap: 2.75rem;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  text-shadow: var(--textShadowDarkValue);

  &.show {
    display: flex;
  }

  transition: opacity 0.15s cubic-bezier(0.5, 0, 0.9, 1);

  .inner {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 6rem;
    padding-top: 50dvh;

  }

  .notinstalled {
    max-width: 100%;

    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    row-gap: 4rem;
  }

  .box {
    width: 130px;
    height: 130px;
    background: green;
    position: absolute;
    left: 1rem;
    top: 1rem;
    opacity: 0.25;
  }

  .subsection {

    position: relative;

    h1,
    h2 {

      margin: 0 auto;

      u {
        position: relative;
        display: inline-block;
        text-decoration-color: var(--yellow);

      }
    }

    h1,
    p {
      padding: 0 0.5rem;
      width: 100%;
      max-width: 90%;
      line-height: 0.95;
      text-transform: uppercase;
      font-size: 9.5dvw;
      text-align: left;
      font-weight: 900;
      font-variation-settings: 'wght' 900;

      U {
        width: auto;
        text-decoration-color: rgba(151, 126, 219, 0.65);
        text-decoration-thickness: 50%;
        text-underline-offset: -35.5%;
        text-decoration-skip-ink: none;
      }
    }

    h2 {
      font-size: variables.$h2_size;
      text-align: left;
      padding: 0 1.5rem;

      u {
        text-decoration-thickness: 20px;
        text-decoration-color: var(--yellow);
      }
    }

    h2:not(.title2) {

      margin: 0;
      max-width: 480px;
      margin: 0 auto;

      u {
        position: relative;
        display: inline-block;
        text-decoration-color: var(--yellow);
      }
    }

    p {
      margin: 0;
      width: 100%;
      word-break: break-word;

    }

  }




  .subsection.notinstalled {

    .quick-access,
    .days-section {
      .subsection-title {

        max-width: 80%;
        width: 100%;
        margin: 0 auto;

        h2 {
          width: 100%;
        }
      }

      .title {
        font-size: variables.$h4_size;
        font-weight: 600;
        width: 80%;
        margin: 0 auto;
      }
    }
  }

  @media (width >=variables.$breakpoint-desktop) {

    /* DESKTOP */
    body section.intro {
      .introduction-inner {
        .inner {
          width: 100%;
          max-width: 1024px;
          width: 1024px;


          .subsection {

            p,
            h1 {

              font-size: 7.5dvw;
            }

            .feature {

              p {
                word-break: auto-phrase;
              }
            }
          }
        }
      }
    }
  }


  @media (width < variables.$breakpoint-desktop) and (width > variables.$breakpoint-mobile) {
    /* TABLET */
  }

  @media (width <=variables.$breakpoint-mobile) {

    /* MOBILE */
    body {
      section.intro {

        .subsection,
        .subsection.notinstalled {
          width: 425px;
          max-width: 90%;

          h1 {
            font-size: 4.5dvw;
            -webkit-text-stroke: 2px;
          }

          .feature {
            .inner {

              // outline: 1px solid #ccc;
              width: 90%;

              p {
                font-size: 11.5dvw;
                // -webkit-text-stroke: 0;
                color: var(--primary)
              }
            }
          }
        }
      }
    }
  }
}