@use "@/scss/variables";
@import "@/globals.css";

.MuiSnackbar-root,
.MuiSnackbar-anchorOriginTopLeft {
	width: fit-content;
	padding: 0;
}
.snackbars {
	z-index: 40000;
}
.MuiSnackbar-root {
	.MuiSnackbarContent-root {
		background: var(--mainBackground);
		// // text-shadow: 4px 0px 7px rgba(0, 0, 0, 0.8);
		// box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);

		.MuiSnackbarContent-message {
			color: var(--primary);
			font-weight: variables.$p_weight;
			font-size: variables.$p_size;
			padding: 0.74rem 1rem;
		}
		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
			background: var(--mainBackground);
		}
	}
}
