@import "@/globals.css";
.MuiSnackbar-root,
.MuiSnackbar-anchorOriginTopLeft {
}
.MuiSnackbar-root {
	z-index: 9999;
	.MuiSnackbarContent-root {
		.MuiSnackbarContent-message {
			background-color: var(--orange);
			color: var(--greyDark);
			padding: 0.74rem 1rem;
			text-shadow: 4px 0px 7px rgba(0, 0, 0, 0.8);
			box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
		}
	}
}
