@use '@/scss/variables';
@import '@/globals.css';

body div.main section.activity-wallpapers-cta div.cta {
  .cta-content {
    text-shadow: var(--textShadowDarkStrong);
    font-weight: 400;
    font-variation-settings: 'wght' 400;
    font-variation-settings: 'wght' 400;
  }

  //
  .bg-img {
    opacity: 0.5;

    img {
      opacity: 0.85;
    }

    background-color: var(--lightBlue);
  }
}