@use '@/scss/variables';
@import '@/globals.css';

.activity-units-calculator-cta {
    position: relative;

    border-radius: var(--border-radius);

    .cta-content {
        text-shadow: var(--textShadowDarkStrong);
        font-weight: 400;
        font-variation-settings: 'wght' 400;
    }

    .bg-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        border-radius: var(--border-radius);
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0.4;
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: var(--blueDark);
            border-radius: var(--border-radius);
            opacity: 1;
            z-index: -1;
        }

        background-color:var(--lightBlue)
    }
}