@use "@/scss/_variables.scss";
@import "@/globals.css";

$gutters: 1rem;
.AcronymCard {
	opacity: 0;
	transition: all 0.2s ease-out;
	transform: scale(1.025);
	z-index: -10;
	visibility: hidden;
	&.open {
		opacity: 1;
		transform: scale(1);
		transition: all 0.2s ease-in;
		z-index: 99;
		visibility: visible;
	}
}
div.AcronymCard {
	// padding: 1rem 0;

	width: 100vw;
	height: 100vh;
	position: fixed;
	padding: 0;
	margin: 0;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.85);

	.inner {
		// display: none;
		position: relative;
		height: calc(100dvh - $gutters);
		width: calc(100vw - $gutters);
		overflow: clip;
		left: 50%;
		// margin-top: calc($gutters * 0.5);
		max-width: 600px; /// for desktop viewers
		transform: translate(-50%, 0%);

		text-shadow: 2px 0px 7px rgba(0, 0, 0, 0.49);
		outline: 1px solid rgba(150, 150, 150, 0.25);
		transition: var(--transition);
		border-radius: var(--border-radius);
		background-color: rgba(60, 64, 83, 0.2);

		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
		align-content: center;
		color: var(--primary);
		overflow: hidden;

		&::after {
			content: "";
			width: 100%;
			height: 100%;
			background: #333333;
			background: linear-gradient(336deg, rgba(10, 10, 10, 0.75) 30%, rgba(0, 0, 0, 0.75) 100%);
			position: absolute;
			top: 0px;
			left: 0;
			z-index: -1;
			opacity: 0.5;
		}
	}

	.header {
		display: flex;
		position: relative;
		align-items: center;
		justify-content: center;
		color: var(--orange);
		text-align: center;
		transition: var(--transition);
		width: 100%;
		height: 140px;
		min-height: 140px;
		padding: 0;
		margin: 0;
		font-size: variables.$h1_size;
		position: relative;
		border-bottom: 1px solid rgba(10, 10, 10, 0.8);

		div.toolboxes {
			display: flex;
			flex-flow: column wrap;
			row-gap: 0.5rem;
			justify-content: center;
			align-items: center;
			position: absolute;
			top: 50%;
			left: 1rem;
			z-index: 10;
			transform: translate(0, -50%);

			div.btn.toolbox {
				width: 20px;
				height: 20px;
				> svg {
					width: 20px;
					height: 20px;
				}
			}
		}
		> .title.cont {
			position: relative;
			z-index: 10;
			display: flex;
			flex-flow: row nowrap;
			opacity: 1;

			font-size: variables.$acc_title_size;
			color: var(--orange);
			-webkit-text-stroke: 2px var(--orange);
			line-height: 1.1;
			font-weight: variables.$acc_title_weight;

			justify-content: center;
			align-items: center;
			text-align: center;
			column-gap: 0.65rem;

			width: fit-content;
			height: fit-content;

			letter-spacing: 4px;

			> div {
				position: relative;
				height: 100%;
				// outline: 1px solid #ccc;
				margin-right: 2px;
				&::after {
					content: "";
					position: absolute;
					z-index: -1;
					bottom: 0px;
					right: 0;
					width: 7px;
					height: 7px;
					border-radius: 50%;
					opacity: 0.5;
					background-color: var(--primary);
					// outline: 2px solid var(--primary);
					transform: translate(120%, -100%);
				}
			}
		}
		&::after {
			content: "";
			width: 100%;
			height: 100%;
			background: var(--greyDark);
			position: absolute;
			top: 0px;
			left: 0;
			z-index: -1;
			opacity: 0.15;
		}
	}
	section.AccContent {
		position: static;
		overflow-y: scroll;
		height: fit-content;
		flex-grow: 1;
		border-top: 1px solid rgba(40, 40, 40, 0.9);
		border-bottom: 1px solid rgba(44, 44, 44, 0.9);
		position: relative;
		div.AccExplanation {
			height: fit-content;
			text-align: left;
		}
		div.AccGroup {
			color: var(--primary);
			font-family: "Plus Jakarta Sans", system-ui, -apple-system, BlinkMacSystemFont, sans-serif !important;
			font-weight: 300;
			min-height: fit-content;
			height: 100%;
			width: 90%;
			margin: 0 auto;
			margin-bottom: 2rem;
			display: flex;
			flex-flow: column nowrap;
			justify-content: space-evenly;

			> div:first-child {
				margin: 1rem 0 1rem 0;
				color: var(--primary);
			}
			div.AccDetails {
				margin: 1rem 0;
				text-align: left;
				color: var(--lightBlue);
				div.Acc-letter-group {
					width: 96%;
					margin: 0 auto;
					position: relative;
					line-height: 1.1;
					height: fit-content;
					div.Acc-letter {
						position: absolute;
						z-index: 10;
						font-weight: 900;
						font-size: variables.$letter_size;

						color: var(--orange);
						-webkit-text-stroke: 2px var(--orange);
						height: fit-content;
						transform: translateX(-5%);
						width: 48px;
						text-align: center;
						opacity: 1;

						&::after {
							content: "";
							width: 200%;
							height: 300%;
							position: absolute;
							top: -90%;
							left: -30%;
							transform: translate(-30%, -80%);

							z-index: -2;
							transform: rotateZ(-6deg) skew(0.03turn, 12deg) translate(-12px, -6px) scale(0.9, 0.5);
							outline: 1px solid rgba(150, 150, 150, 0.5);
						}
					}
					div.Acc-word[data-len] {
						--len: attr(data-len);
						// background-color: red;
						&::before {
							content: "";
							width: 80%; //calc(10% * var(--len));
							height: 200%;
							position: absolute;
							top: -60%;
							left: -16%;
							z-index: -1;
							transform: rotateZ(-2deg) skew(-0.09turn, 6deg) translate(-20px, 10px) scale(0.9, 0.5);
							outline: 1px solid #185301;
						}
					}
					div.Acc-word {
						font-size: variables.$acc_wrd_size;
						font-weight: 800;
						line-height: 1.15;
						margin: 0;
						color: rgba(250, 250, 250, 1);
						-webkit-text-stroke: 2px rgba(255, 255, 255, 0.65);
						position: relative;
						transform: translate(0px, 12px);
						width: calc(100% - 30px);
						margin-left: 14.25%;
						position: relative;
					}
				}
				div.Acc-definition {
					margin: 1.5rem 0 1.5rem 1rem;
					u {
						line-height: variables.$acc_wrd_line_height;
						font-weight: 800;
						text-decoration: 3px underline var(--yellow);
						color: var(--primary);
					}
				}
			}
		}
		&::after {
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0px;
			left: 0;
			z-index: -1;
			opacity: 0.15;
			// background: rgba(62, 97, 133, 0);
			background: linear-gradient(-8deg, rgba(0, 0, 0, 0) 60%, rgb(10, 10, 10, 1) 100%);
		}
	}
	.videos {
		width: 100%;
		padding-bottom: 2rem;

		h2 {
			font-size: variables.$h3_size;
			text-decoration: 4px underline var(--yellow);
			color: var(--primary);
		}

		.player {
			width: 100%;
			min-width: 100%;
			height: 100%;
			min-height: 100%;
			aspect-ratio: 1.777777777777778;
			margin: 0 0 0.5rem 0;
			iframe {
				height: 100%;
				min-height: 100%;
			}
		}
		.video {
			.title {
				margin: 0.5rem 0;
			}
			padding-bottom: 2rem;
		}
	}
	.footer {
		width: 100%;
		height: 100px;
		// outline: 1px solid #f00;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-evenly;
		align-items: center;
		position: relative;
		border-top: 1px solid rgba(50, 50, 50, 0.8);

		> div {
			// outline: 1px solid rgb(201, 89, 89);
			height: fit-content;
			display: flex;
			flex-flow: row wrap;
			justify-content: space-evenly;
			align-items: center;
			padding: 10px;
			flex-grow: 1;
			height: 100%;
			position: relative;
			&::before {
				content: "";
				height: 60%;
				width: 100%;
				flex-grow: 1;
				border-right: 1px solid rgba(50, 50, 50, 0.5);
				position: absolute;
				top: 20%;
				left: 0;
				// z-index: -1;
			}
		}

		&::after {
			content: "";
			width: 100%;
			height: 100%;
			background: var(--greyDark);
			position: absolute;
			top: 0px;
			left: 0;
			z-index: -1;
			opacity: 0.15;
		}
	}

	&::after {
		content: "";
		width: 100%;
		height: 100%;
		background: #000000;
		// background: linear-gradient(336deg, rgba(10, 10, 10, 0.75) 30%, rgba(0, 0, 0, 0.75) 100%);
		position: absolute;
		top: 0px;
		left: 0;
		z-index: -100;
		opacity: 1;
	}
}
