@use "@/scss/_variables.scss";
@import "@/globals.css";

$gutters: 0;

div.AcronymCard {
	z-index: -10;
	opacity: 0;
	visibility: hidden;

	width: 100vw;
	max-width:var(--appMaxWidth);
	height: 100vh;
	max-height: 100vh;
	position: fixed;
	
	padding: 0;
	margin: 0 auto;
	top: 0;
	left: 50%;
	background: rgba(0, 0, 0, 0.85);
	transition: all 0.2s ease-out;
	transform: scale(1.025) translate(-50%,0);
	
	&.open {
		opacity: 1;
		transform: scale(1) translate(-50%,0);
		transition: all 0.2s ease-in;
		z-index: 5600;
		visibility: visible;
	}

	.inner {
		position: relative;
		z-index: 5600;
		height: 100dvh;
		width: 100%;

		text-shadow: 2px 0px 7px rgba(0, 0, 0, 0.49);
		outline: 1px solid rgba(150, 150, 150, 0.25);
		transition: var(--transition);
		background-color: rgba(60, 64, 83, 0.2);

		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		color: var(--primary);
		// overflow: hidden;

		&::after {
			content: "";
			width: 100%;
			height: 100%;
			background: #333333;
			background: linear-gradient(336deg, rgba(10, 10, 10, 0.75) 30%, rgba(0, 0, 0, 0.75) 100%);
			background: var(--mainBackground);
			position: absolute;
			top: 0px;
			left: 0;
			z-index: -1;
			opacity: 0.5;
		}
	}

	.header {
		display: flex;
		position: relative;
		align-items: center;
		justify-content: center;

		text-align: center;
		transition: var(--transition);
		width: 100%;
		height: 120px;
		min-height: 120px;
		padding: 0;
		margin: 0;
		font-size: variables.$acc_title_size_min;
		font-weight: variables.$acc_title_weight;
		line-height: variables.$acc_title_line_height;
		position: relative;
		border-bottom: 1px solid rgba(113, 44, 134, 0.5);
		flex: 0 0;

		div.toolboxes {
			display: flex;
			flex-flow: column wrap;
			row-gap: 0.5rem;
			justify-content: center;
			align-items: center;
			position: absolute;
			top: 50%;
			left: 1rem;
			z-index: 10;
			transform: translate(0, -50%);
		}
		> .title.cont {
			position: relative;
			z-index: 10;
			display: flex;
			flex-flow: row nowrap;
			opacity: 1;

			font-size: variables.$acc_title_size;
			color: var(--orange);
			-webkit-text-stroke: 2px var(--orange);
			line-height: 1;
			font-weight: variables.$acc_title_weight;

			justify-content: center;
			align-items: center;
			text-align: center;
			column-gap: 0.65rem;

			width: fit-content;
			height: fit-content;

			letter-spacing: 4px;

			> div {
				position: relative;
				height: 100%;
				// outline: 1px solid #ccc;
				margin-right: 2px;
				&::after {
					content: "";
					position: absolute;
					z-index: -1;
					bottom: 5px;
					right: 0;
					width: 8px;
					height: 8px;
					border-radius: 50%;
					opacity: 1;
					background-color: var(--primary);
					// outline: 2px solid var(--primary);
					transform: translate(80%, -5%);
				}
			}
		}
		&::after {
			content: "";
			width: 100%;
			height: 100%;
			background: rgba(20, 20, 20, 0.2);
			position: absolute;
			top: 0px;
			left: 0;
			z-index: 0;
			opacity: 1;
		}
	}
	section.AccContent {
		font-size: variables.$p_size;
		font-weight: variables.$p_weight;
		line-height: variables.$p_line_height;
		position: static;
		overflow-y: scroll;
		overflow-x: clip;
		height: fit-content;
		width: 100%;
		flex: 1 1;
		position: relative;
		margin:0;
		div.AccExplanation {
			height: fit-content;
			text-align: left;
			width: 92%;
			min-width: 84%;
			padding: 0 0 0 8%;
			margin: 0 auto;
		}
		div.AccGroup {
			color: var(--primary);
			font-family: "Plus Jakarta Sans", system-ui, -apple-system, BlinkMacSystemFont, sans-serif !important;
			font-weight: 300;
			min-height: fit-content;
			height: 100%;
			width: 92%;
			margin: 0 auto;
			margin-bottom: 2rem;
			display: flex;
			flex-flow: column nowrap;
			justify-content: space-evenly;
			> div:first-child {
				margin: 1rem 0 0 0;
				color: var(--primary);
			}
			div.AccDetails {
				width: 100%;
				overflow-x: hidden;
				margin: 1rem 0 0 0;
				text-align: left;
				color: var(--primary);

				div.Acc-letter-group {
					width: 92%;
					margin: 0 auto;
					position: relative;
					line-height: 1;
					height: fit-content;
					div.Acc-letter {
						position: absolute;
						z-index: 10;
						font-weight: 800;
						font-size: variables.$letter_size;

						color: var(--orange);
						// -webkit-text-stroke: 2px var(--orange);
						height: fit-content;
						transform: translate(15px, -0.5px);
						min-width: 10.5%;
						// outline:1px solid #ccc;
						text-align: center;
						opacity: 0;

						&::after {
							content: "";
							width: 200%;
							height: 300%;
							position: absolute;
							top: -90%;
							left: -30%;
							transform: translate(-30%, -80%);
							z-index: -2;
							transform: rotateZ(-6deg) skew(0.03turn, 12deg) translate(-12px, -6px) scale(0.9, 0.5);
							outline: 1px solid rgba(150, 150, 150, 0.5);
						}
					}
					div.Acc-word {
						&::before {
							content: "";
							width: 100%; //calc(10% * var(--len));
							height: 200%;
							position: absolute;
							top: -60%;
							left: -15%;
							z-index: 1;
							transform: rotateZ(-2deg) skew(-0.09turn, 6deg) translate(-20px, 10px) scale(0.9, 0.5);
							outline: 1px solid #467a32;
						}
					}
					$f: 13%;
					div.Acc-word[data-len="2"] {
						&::before {
							width: calc($f * 3);
						}
					}
					div.Acc-word[data-len="3"] {
						&::before {
							width: calc($f * 4);
						}
					}
					div.Acc-word[data-len="4"] {
						&::before {
							width: calc($f * 5);
						}
					}
					div.Acc-word[data-len="5"] {
						&::before {
							width: calc($f * 5);
						}
					}
					div.Acc-word[data-len="6"] {
						&::before {
							width: calc($f * 6);
						}
					}
					div.Acc-word[data-len="7"] {
						&::before {
							width: calc($f * 7);
						}
					}
					div.Acc-word[data-len="8"] {
						&::before {
							width: calc($f * 8);
						}
					}
					div.Acc-word[data-len="9"] {
						&::before {
							width: calc($f * 9);
						}
					}
					div.Acc-word[data-len="10"] {
						&::before {
							width: calc($f * 10);
						}
					}
					div.Acc-word[data-len="11"] {
						&::before {
							width: calc($f * 11);
						}
					}
					div.Acc-word[data-len="12"] {
						&::before {
							width: calc($f * 12);
						}
					}
					div.Acc-word {
						font-size: variables.$acc_wrd_size;
						font-weight: variables.$acc_wrd_weight;
						line-height: variables.$acc_wrd_line_height;
						margin: 0;
						color: rgba(250, 250, 250, 1);
						// -webkit-text-stroke: 1px rgba(255, 255, 255, 0.45);
						position: relative;
						transform: translate(0px, 4.5px);
						
						
						position: relative;
						z-index:10;
						letter-spacing: 1px;
					}
					div.Acc-word::first-letter{
						font-weight: 900;
						font-size: calc(variables.$letter_size * 1.2);

						color: var(--orange);
						 -webkit-text-stroke: 2px var(--orange);
					}
				}
				div.Acc-definition {
					margin: 1.5rem 0 0 1.75rem;
					width: 88%;
					// outline: 1px solid #ccc;
					u {
						line-height: variables.$acc_wrd_line_height;
						font-weight: 800;
						text-decoration: 3px underline var(--yellow);
						color: var(--primary);
					}
				}
			}
		}
		div.tags{
			div.title{
				font-size:0.85rem;
				font-weight:400;
				font-variation-settings: "wght" 400;
				text-decoration: none;
			}

			div.tags-list {
				display:flex;
				flex-wrap:wrap;
				justify-content:center;
				column-gap:0.5rem;
				width:90%;
				margin:0 auto;
				font-size:0.85rem;
				padding:0 0 2rem 0;
				color:var(--grey);
			}

		}
		
		&::after {
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0px;
			left: 0;
			z-index: -1;
			opacity: 0.15;
			// background: rgba(62, 97, 133, 0);
			background: linear-gradient(-8deg, rgba(0, 0, 0, 0) 60%, rgb(10, 10, 10, 1) 100%);
		}
	}
	.scenarios {
		width: 92%;
		margin:4rem auto;
		
		.scenarios-inner{
			margin:2rem 0;
			display: flex;
			width: 100%;
			flex-flow: column nowrap;
			column-gap: 2rem;
			text-align:left;
			// justify-content: center;
			.scenario{
				margin:1rem auto;
				width: 90%;
				position:relative;
				.title{
					font-size: variables.$h4_size;
					font-weight:600;
					font-variation-settings: "wght" 600;
					text-decoration-color:var(--yellow);
					color:var(--primary);
					text-align:center;
				}
				.content{
					margin:1.5rem auto;
					p b,
					b {
						position: relative;
						display: inline-block;
						color:var(--yellow);
						
					}
					b::after {
						content: " ";
						width: 145%;
						height: 120%;
						// background-color: var(--yellow);
						outline:1px solid var(--yellow);
						opacity: 0.6;
						position: absolute;
						top: 0;
						left: 0;
						z-index: -1;
						transform:rotate(-3deg) translate(-10%,-25%);
						margin-top: 5%;
						margin-left: -5.5%;
					}
					u {
						text-decoration-color: var(--lightBlue);
						text-decoration-thickness: 3px;
						color:var(--primary);
					}
					&::after {
						content: " ";
						width: 120%;
						height: 80%;
						background-color: var(--greyDark);
						// outline:1px solid var(--yellow);
						opacity: 0.3;
						position: absolute;
						top: 0;
						left: 0;
						z-index: -1;
						transform:rotate(5deg) translate(-7%,26%);
						
					}
				}
				
			}
		}
		
	}
	.videos {
		width: 100%;
		padding-bottom: 2rem;
		display: flex;
		flex-flow: column nowrap;
		row-gap: 2rem;

		h2,
		h3 {
			font-size: variables.$h3_size;
			text-decoration: 4px underline var(--yellow);
			color: var(--primary);
		}
		.video {
			width: 92%;
			height: fit-content;
			margin: 0 auto 1rem auto;
			// background-color: rgba(10, 10, 10, 0.6);
			outline: 1px solid rgba(50, 50, 50, 0.4);
			position: relative;

			.title {
				font-weight: 600;
				line-height: 1.2;
				color: var(--primary);
				font-size: variables.$h4_size;
				text-shadow: 0px 0px 10px rgba(10,10,10,0.50);
				padding: 1.25rem 0.75rem;
				position: relative;
				z-index: 1;
				// margin: 1.5rem auto 1rem auto;
			}
			.player {
				width: 100%;
				min-width: 100%;
				// background-color: #12121b;
				aspect-ratio: 16/9;
				position: relative;
				z-index: 1;
				youtube-video {
					width: 100%;
					min-width: 100%;
					aspect-ratio: 16/9;
				}
				.video-skeleton {
					width: 100%;
					height: 100%;
				}
				iframe {
					width: 100%;
					min-height: 100%;
					// background-color: #12121b;
					// outline: 1px solid #f00;
				}
			}
			.controls {
				min-width: 100%;
				background-color: #12121b;
				display: flex;
				justify-content: center;
				align-items: center;
			}
			&::after {
				content: "";
				width: 100%;
				height: 100%;
				background-color: rgba(20,20,20,0.4);
				position: absolute;
				left: 0;
				top: 0;
				z-index: 0;
				opacity: 0.6;
			}
		}
	}
	.footer {
		width: 100%;
		height: 80px;
		min-height: 80px;
		flex: 0 0;
		// outline: 1px solid #f00;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-evenly;
		align-items: center;
		position: relative;
		z-index: 10;
		margin-top:0;
		border-top: 1px solid rgba(122, 59, 141, 0.5);

		> div,
		> button {
			// outline: 1px solid rgb(201, 89, 89);
			height: fit-content;
			display: flex;
			flex-flow: row wrap;
			justify-content: space-evenly;
			align-items: center;
			padding: 10px;
			

			height: 100%;
			position: relative;
			&::before {
				content: "";
				height: 60%;
				width: 100%;
				border-right: 1px solid rgba(113, 44, 134, 0.5);
				position: absolute;
				top: 20%;
				left: 0;
				// z-index: -1;
			}
			&::after{
				display:none;
			}
		}
		.btn {
			flex: 1;
			height: 100%;
			background: transparent;
			border: none;
			box-shadow:none;
			svg {
				height: 1.75rem;
				width: 1.75rem;
			}
		}

		&::after {
			content: "";
			width: 100%;
			height: 100%;
			background: rgba(20, 20, 20, 0.25);
			position: absolute;
			top: 0px;
			left: 0;
			z-index: -1;
			opacity: 1;
		}
	}

	&::after {
		content: "";
		width: 100%;
		height: 100%;
		background: #000000;
		// background: linear-gradient(336deg, rgba(10, 10, 10, 0.75) 30%, rgba(0, 0, 0, 0.75) 100%);
		position: absolute;
		top: 0px;
		left: 0;
		z-index: -100;
		opacity: 1;
	}
}
