@import "@/globals.css";

::root {
	--overstretch: cubic-bezier(1, -0.67, 0, 1.855);
}
.logo {
	opacity: 0;

	animation-timing-function: ease-in-out;
	animation-name: fade-in;
	animation-duration: 1000ms;
	animation-delay: 0.65s;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
	.img {
		animation-timing-function: cubic-bezier(0.365, 0.403, 0, 1);
		animation-name: scale-in-120;
		animation-duration: 750ms;
		animation-delay: 0.65s;
		animation-fill-mode: forwards;
		animation-iteration-count: 1;
		/* animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0); */
	}
}
$s: 1;
$dur: 0.75s;
$s2: $s + 1;

$dur0_0: 0.75s;
$dur0_1: 0.75s;
$dur0_2: 0.75s;
$dur0_3: 0.75s;
$dur0_4: 0.75s;

$sw0_0: $s2 + 0.5 + s;
$sw0_1: $s2 + 0.7 + s;
$sw0_2: $s2 + 0.8 + s;
$sw0_3: $s2 + 0.75 + s;
$sw0_4: $s2 + 0.8 + s;

$durIn_1: 0.35s;

$tf: cubic-bezier(0.365, 0.403, 0, 1);
.stage-0 {
	.in {
		transform: translateY(0);
		transition: all $durIn_1 $tf;
	}
	.w0,
	.w1,
	.w2,
	.w3,
	.w4 {
		opacity: 0;
		transform: translateX(0%) translateY(0%);
		animation-fill-mode: forwards;
		animation-iteration-count: 1;
	}
	.w0 {
		animation-name: fade-in, scale-in-120, move-in-up-100;
		animation-duration: $dur0_0, $dur0_0, $dur0_0;
		animation-delay: $sw0_0, $sw0_0, $sw0_0;
		animation-timing-function: $tf, $tf, $tf;
		transition: all $dur0_0 $tf;
	}
	.w1 {
		animation-name: fade-in, scale-in-120, move-in-right-100;
		animation-duration: $dur0_1, $dur0_1, $dur0_1;
		animation-delay: $sw0_1, $sw0_1, $sw0_1;
		animation-timing-function: $tf, $tf, $tf;
		transition: all $dur0_1 $tf;
	}
	.w2 {
		animation-name: fade-in, scale-in-120, move-in-down-100;
		animation-duration: $dur0_2, $dur0_2, $dur0_2;
		animation-delay: $sw0_2, $sw0_2, $sw0_2;
		animation-timing-function: $tf, $tf, $tf;
		transition: all $dur0_2 $tf;
	}
	.w3 {
		animation-name: fade-in, scale-in-120, move-in-up-100;
		animation-duration: $dur0_3, $dur0_3, $dur0_3;
		animation-delay: $sw0_3, $sw0_3, $sw0_3;
		animation-timing-function: $tf, $tf, $tf;
		transition: all $dur0_3 $tf;
	}
	.w4 {
		animation-name: fade-in, scale-in-120, move-in-right-100;
		animation-duration: $dur0_4, $dur0_4, $dur0_4;
		animation-delay: $sw0_4, $sw0_4, $sw0_4;
		animation-timing-function: $tf, $tf, $tf;
		transition: all $dur0_4 $tf;
	}
	.arrow {
		animation-name: move-pulse-down-200, scale-pulse-loop-60;
		animation-duration: 1.5s, 1.5s;
		animation-delay: 0, 0;
		animation-timing-function: $tf, $tf;
		animation-iteration-count: infinite;
	}
}
.stage-2 {
	.home-logo {
		opacity: 1;
		transform: scale(1) translateY(0);
		transition: all $durIn_1 $tf;
	}
	.in {
		transform: scale(1) translateY(0);
		transition: all $durIn_1 $tf;
	}
	.arrow {
		opacity: 0.5;
		transition: all $durIn_1 $tf;
	}
}
.stage-2 {
	.arrow {
		transform: scale(0.6) translateY(1200%);
		transition: all $dur0_1 $tf;
		opacity: 0.25;
	}
}

.stage-3 {
	.home-logo {
		opacity: 0;
		transform: scale(0.8) translateY(80%);
		transition: all $durIn_1 $tf;
	}
	.in {
		transform: scale(0.9) translateY(80%);
		transition: all $dur0_1 $tf;
	}
	.w0,
	.w1,
	.w2,
	.w3,
	.w4 {
		opacity: 0;
	}

	.w0 {
		// transform: translateY(-140%);
		transition: all $dur0_0 $tf;
	}
	.w1 {
		// transform: translateX(-20%);
		transition: all $dur0_1 $tf;
	}
	.w2 {
		//transform: translateY(160%);
		transition: all $dur0_2 $tf;
	}
	.w3 {
		// transform: translateY(100%);
		transition: all $dur0_3 $tf;
	}
	.w4 {
		// transform: translateX(160%);
		transition: all $dur0_4 $tf;
	}
	.arrow {
		transform: scale(0.6) translateY(1600%);
		transition: all 2s $tf;
		opacity: 0;
	}
}
