@import "@/globals.css";

.in {
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	.r1,
	.r2 {
		width: 100%;
	}
	.r2 {
		display: flex;
		justify-content: center;
		column-gap: 6px;
		.w1:after {
			content: ",";
			color: var(--grey);
		}
	}
}
.arrow {
	position: absolute;
	top: 86vh;
	left: 50%;
	transform: translate(-50%, -50%) scale(1.8);
	z-index: 10;
	opacity: 0.5;
}
