@import "@/globals.css";

header {
	user-select: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 90dvh;
	max-height: 90dvh;
	row-gap: 1.25rem;
	margin: 0 auto;
	padding: 0;

	.home-logo {
		max-width: 40vw;
		.logo {
			max-width: 100%;
		}
	}
}
/*.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	row-gap: 1.25rem;
	margin: 0 auto;
	padding: 0;
}*/

.in {
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	.r1,
	.r2 {
		width: 100%;
	}
	.r2 {
		display: flex;
		justify-content: center;
		column-gap: 6px;
		.w1:after {
			content: ",";
			color: var(--grey);
		}
	}
}
.arrow-cont {
	opacity: 1;
}

.arrow-cont {
	position: absolute;
	top: 80vh;
	left: 50%;
	transform: translate(-50%, -50%) scale(1.8);
	z-index: 10;
	opacity: 1;
	transition: all 1s ease-in-out;
	svg.arrow {
		opacity: 0.5;

		fill: var(--lightBlue);
	}
}
