<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule ^(.*\.js)$ - [T=application/javascript,L]
</IfModule>

<IfModule mod_mime.c>
  AddType application/javascript .js
  DefaultType application/javascript
</IfModule>