@use './scss/_variables.scss';
@use './scss/_fonts';
@import '@/globals.css';

html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: #000;

}

html,
body {
  // -webkit-overflow-scrolling: touch;
  // overflow-scrolling: touch;
}

:target {
  // scroll-margin-top: 30vh;
}

.dev-version {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  background-color: var(--orange);
  color: var(--greyDark);
  padding: 0.5rem;
  font-size: 0.8rem;
  text-align: left;
}

:root {
  color-scheme: light dark;
  // --user-scale: 1;
}

body {
  scroll-behavior: smooth;
  overscroll-behavior: none;
  // overscroll-behavior-y: contain;
  background: #000 !important;
  width: 100%;
  max-width: 100dvw;
  height: 100%;
  color: var(--primary);
  padding: 0;
  margin: 0;
  user-select: none;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--primary);
  }

  h2 {
    margin: 0.75rem 0 1.5rem 0;
  }



  .backdrop {
    width: 102%;
  }

  button {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 600;
    width: fit-content;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background: rgba(164, 120, 245, 0.35);
    border: none;
    color: var(--primary);
    outline: 1px solid var(--blue);
    box-shadow: 0px 0px 12px 3px rgba(10, 10, 10, 0.25);
    padding: 0.75rem 2.25rem 0.75rem 1.5rem;


    &:focus,
    &:focus-within,
    &:hover,
    &:active {
      outline: none;
      border: none;
      -webkit-tap-highlight-color: transparent;
    }

  }

  .new,
  .soon {
    position: relative;

    .register::after {
      opacity: 0.2;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      font-size: 0.65rem;
      color: var(--primary);
      background-color: red;
      padding: 0.1rem 0.25rem;
      font-weight: 600;
      font-variation-settings: 'wght' 600;
    }
  }

  .new {
    &::before {
      content: 'new';
      color: var(--primary);
      background-color: var(--orange);
    }
  }

  .soon {
    text-decoration: line-through;
    color: rgba(10, 10, 10, 0.3);

    &::before {
      content: 'soon';
      color: var(--primary);
      background-color: grey;
    }
  }

  #root {
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    scrollbar-width: 0;
  }

  .app {
    position: relative;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    // z-index: 10000;
    width: 100%;
    // max-width: 100dvw;
    display: flex;
    flex-flow: column nowrap;
  }

  .main {
    scrollbar-width: 0;

    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
    row-gap: 6rem;
    overflow-x: hidden;
    overflow-y: auto;

    .activities {
      position: relative;
      z-index: 6000;
    }

    section.activity,
    div.activity {
      position: relative;
      visibility: hidden;
      // outline: 1px solid #ccc;
      pointer-events: none;


      z-index: -10;
      top: 0;
      left: 0;
      // right: 0;

      // margin: 0 var(--gutters);
      max-width: var(--max-width);
      padding: 0 var(--gutters);
      width: 100%;
      min-height: 60dvh;



      flex-flow: column wrap;
      align-content: center;
      align-items: center;
      justify-content: center;
      // outline: 1px solid yellow;
      // display: none;

      button.close-btn {
        position: absolute;
        right: 1.3rem;
        top: 1.5rem;
        left: auto;
        z-index: 6005;
      }

      &.hide,
      &.close {
        visibility: hidden;
        z-index: -10;
        pointer-events: none;

      }

      &.fixed {
        position: fixed;
        // left: 50%;
        // top: 50%;
        // transform: translate(-50%, -50%);
      }


      &.open,
      &.show {
        visibility: visible;
        pointer-events: auto;
        z-index: 6000;
        display: flex;
        align-content: center;
        // outline: 1px solid #ccc;
      }





    }

    >.inner {
      width: 100%;

      .content {
        position: relative;
      }
    }
  }

  h1 {
    font-size: variables.$h1_size;
    font-weight: variables.$h1_weight;
    color: var(--primary);
  }

  h2 {
    font-size: variables.$h2_size;
    font-weight: variables.$h2_weight;
    color: var(--primary);
  }

  h3 {
    font-size: variables.$h3_size;
    font-weight: variables.$h3_weight;
    color: var(--primary);
  }

  h4 {
    font-size: variables.$h4_size;
    font-weight: variables.$h4_weight;
    color: var(--primary);
  }

  h5 {
    font-size: variables.$h5_size;
    font-weight: variables.$h5_weight;
    color: var(--primary);
  }

  .ummi {
    // font-weight: 800;
    // font-variation-settings: 'wght' 800;
    color: var(--lightBlue);
    // font-size: variables.$ummi_size;
  }

  .ummi-blue {
    // font-weight: 800;
    // font-variation-settings: 'wght' 800;
    color: var(--lightBlue);
  }

  u,
  .yellow-ul,
  .blue-ul,
  .orange-ul,
  .white-ul {

    width: auto;
    text-decoration-color: var(--lightBlue50Trans);
    text-decoration-thickness: 45%;
    text-underline-offset: -25.5%;
    text-decoration-skip-ink: none;

  }

  .yellow-ul {
    text-decoration-color: var(--yellow40Trans);
  }

  .blue-ul {
    text-decoration-color: var(--lightBlue50Trans);
  }

  .orange-ul {

    text-decoration-color: var(--orange40Trans);
  }

  .white-ul {
    text-decoration-color: var(--primary);
    text-decoration-thickness: 10%;
    text-underline-offset: 5.5%;
  }

  *.MuiTypography-root {
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: var(--primary);
  }

  div.MuiModal-root {
    max-width: 100%;
    font-family: 'Plus Jakarta Sans', sans-serif;

    div.MuiBox-root {
      max-width: 90dvw;
      left: 5dvw;
      transform: translateX(0);
      border: none;
      border-image: none;
    }
  }

  section {

    .title,
    h4 {
      text-decoration-thickness: 4px;
      text-decoration-style: solid;
      text-decoration-line: underline;
      text-decoration-color: var(--yellow);
    }

    b {
      font-weight: 600;
      font-variation-settings: 'wght' 600;
    }

    .title {
      font-size: variables.$h3_size;
      font-weight: 800;
      font-variation-settings: 'wght' 800;
    }
  }


  .orange {
    color: var(--orange);
  }

  .yellow {
    color: var(--yellow);
  }

  .yellow2 {
    color: var(--yellow2);
  }

  .blue {
    color: var(--blue);
  }

  .lightBlue {
    color: var(--lightBlue);
  }

  .grey {
    color: var(--greyDark);
  }
}

*,
:before,
:after {
  box-sizing: border-box;
}

:focus {
  outline: none;
  box-shadow: none;
}

svg:focus,
button:focus,
svg:focus-visible,
button:focus-visible {
  outline: none;
  border: none;
  box-shadow: none;
}

section {

  text-shadow: 0 0px 6px rgba(0, 0, 0, 0.4);
}

div#centers {
  position: fixed;
  user-select: 0;
  pointer-events: none;

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 999999999;
  opacity: 0.2;

  .horizontal {
    width: 100%;
    height: 1px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
  }

  .vertical {
    width: 1px;
    height: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.bgImgs {
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  user-select: none;
  z-index: -1;

  /* overflow: hidden; */
  .icon {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;

    svg {
      max-width: 425px;
      width: 100%;
      opacity: 0.07;

      path {
        fill: #181136;
        stroke: #181136;
      }
    }
  }

  .icon.thumbsup {
    left: auto;
    right: 0%;
    top: 0%;
    transform: rotate(-15deg) scale(0.8) translate(30%, -0%) scaleX(-1);

    svg {
      opacity: 0.07;
    }
  }

  .icon.vwhand {
    top: 15%;
    left: 0;
    transform: rotateZ(45deg) scale(0.7) translate(-40%, 0);
  }

  .icon.peacehand {
    top: 26%;
    left: auto;
    /* right: 0%; */
    margin-right: -10%;
    transform: rotate(45deg) scale(0.53) translate(-40%, 0%);

    svg {
      path {
        fill: #181136;
        stroke: #181136;
      }
    }
  }
}