@import "@/src/globals.css";
:root {
	color-scheme: light dark;
	--user-scale: 1;
}
*,
:before,
:after {
	box-sizing: border-box;
}
html {
	width: 100%;
	min-height: 100vh;
}
body {
	width: 100vw;

	/* height: 100%; */
	overflow-x: hidden;
	color: var(--primary);
	padding: 0 0 2rem 0;
	background: var(--mainBackground);
	font-family: "Plus Jakarta Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-shadow: 2px 2px 2px rgba(50, 50, 50, 0.2);
}
body * {
	text-shadow: 1px 1px 2px rgba(50, 50, 50, 0.2) !important;
}
#root {
	max-width: 100vw;
	width: 100vw;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	overflow: hidden;
}
.main {
	max-width: 100vw;
	width: 90vw;
	margin: 0 auto;
	padding: 0;
	position: relative;
}
.hide {
	display: none;
}
.settingsContainer {
	position: static;
	top: 12px;
	left: 12px;
	display: flex;
	flex-direction: column;
	row-gap: 0.25rem;
}
.big {
	font-size: 2rem;
}
.big4 {
	font-size: 4rem;
}
.r90 {
	transform: rotate(90deg);
	display: block;
}
/* -------------------------------------------------
Onboarding
------------------------------------------------ */
.ob {
	width: fit-content;
	height: fit-content;
}
body {
	#driver-dummy-element,
	#driver-popover-content,
	.driver-popover-title,
	.driver-popover-description,
	.driver-popover-footer,
	.driver-popover-next-btn,
	.driver-popover-prev-btn,
	.driver-popover-close-btn,
	.driver-popover-progress-text,
	.driver-popover {
		font-family: "Plus Jakarta Sans", sans-serif !important;
	}
	.italic {
		font-family: "Kaushan Script", cursive;
		font-weight: 500;
		font-size: 3rem;
		line-height: 0.9;
		color: #999 !important;
	}
	#driver-popover-content {
		display: flex !important;
		flex-flow: column wrap;
		row-gap: 0rem;
		padding-top: 2rem;
		font-family: "Plus Jakarta Sans" !important;
	}

	.driver-popover.flp-theme {
		background: rgba(104, 79, 128, 0.8);
		background: linear-gradient(140deg, rgba(27, 134, 158, 1) 0%, rgb(157, 30, 30) 81%);
		margin: -3px;
		.driver-popover-title,
		.driver-popover-description,
		.driver-popover-footer,
		.driver-popover-next-btn,
		.driver-popover-prev-btn,
		.driver-popover-close-btn,
		.driver-popover-progress-text,
		.driver-popover-description {
			color: var(--primary);
			font-size: 1.1rem;
			line-height: 1.2;
			font-family: "Plus Jakarta Sans" !important;
			font-weight: 300;
		}
		.driver-popover-description p {
			font-family: "Plus Jakarta Sans", cursive !important;
			font-weight: 300 !important;
		}
		.driver-popover-title {
			font-family: "Plus Jakarta Sans", cursive !important;
			color: var(--primary);
			line-height: 1;

			.intro.title {
				width: 100%;
				display: flex !important;
				flex-flow: column wrap;
				row-gap: 1.5rem;
				margin: 0.5rem 0 1.75rem 0;
				text-align: center;
				.t {
					width: 100%;
					font-family: "Plus Jakarta Sans", cursive !important;
					transform: none;
					font-size: 2.75rem;
					font-weight: 900;
					color: rgba(43, 252, 2, 0.6) !important;
					width: 100%;
				}
				.italic {
					font-family: "Kaushan Script", cursive !important;
					color: rgba(50, 50, 50, 0.95) !important;
					line-height: 0.9;
					font-weight: 400;
					transform: rotate(-2.5deg) skew(9deg, 0deg);
					font-size: 3rem;
					margin-left: -20px;
					letter-spacing: -2.5px;
				}
			}
		}
		.driver-popover-progress-text {
			color: var(--grey);
			font-size: 1rem;
		}
		/* ------------------------------------------------
		Description
		------------------------------------------------ */
		.driver-popover-description {
			.intro {
				text-align: center;
			}
			p {
				margin-bottom: 1rem;
			}
			p:has(span.note) {
				text-align: center;
				margin-bottom: 1rem;
				font-weight: 100;
				span.note {
					font-family: "Mr Dafoe", cursive !important;
					font-weight: 100;
					font-size: 2rem;
					transform: skew(40deg, 0deg);
					font-style: italic;
					display: block;
					opacity: 0.5;
				}
			}
		}
		/* ------------------------------------------------
		Close button
		------------------------------------------------ */
		button.driver-popover-close-btn {
			font-size: 2.25rem;
			line-height: 20px;
			margin-top: -3px;
			font-weight: 200;
			color: #bebebe !important;
		}
		/* ------------------------------------------------
		Overlay Arrow
		------------------------------------------------ */
		.driver-popover-arrow {
			content: "";
			position: absolute;
			/* border: 5px solid #257d94; */
			background-color: #257d94;
			width: 13px;
			height: 13px;

			border: none;
			&.driver-popover-arrow-side-right {
				left: -12px;
				clip-path: polygon(100% 0, 0 50%, 100% 100%);
			}
			&.driver-popover-arrow-side-left {
				clip-path: polygon(100% 50%, 0 0, 0 100%);
			}
			&.driver-popover-arrow-side-top {
				clip-path: polygon(100% 0, 0 0, 50% 100%);
			}
			&.driver-popover-arrow-side-bottom {
				top: -12px;
				clip-path: polygon(100% 100%, 50% 0, 0 100%);
			}
		}

		/* ------------------------------------------------
		Overlay Footer
		------------------------------------------------ */
		.driver-popover-footer {
			.driver-popover-navigation-btns {
				column-gap: 0.5rem;

				.driver-popover-next-btn,
				.driver-popover-prev-btn {
					background: rgba(250, 250, 250, 0.2);
					color: var(--primary);
					font-size: 0.8rem;
					border: none;
					border-radius: 8px;
					padding: 6px 12px;
					display: flex !important;
					align-items: center;
					justify-content: center;
					column-gap: 0.25rem;
					svg {
						width: 20px;
						height: 20px;
						/* outline: 1px solid #ccc; */
					}
					&.driver-popover-btn-disabled {
						color: #666;
						svg {
							width: 20px;
							height: 20px;

							path {
								fill: #666;
								outline: #666;
							}
						}
					}
				}
			}
		}
		/* ------------------------------------------------
		Highlighted Element
		------------------------------------------------ */
		.driver-active-element {
		}
		/* ------------------------------------------------
		Overlay 
		------------------------------------------------ */
		.driver-overlay {
		}
	}
}
/* -------------------------------------------------
FOOTER
------------------------------------------------ */
.footer {
	display: flex;
	flex-direction: column;
	row-gap: 0.5rem;

	margin: 0.25rem 1.25rem;
	color: var(--primary);
	text-align: center;
	width: 100%;
	background-color: transparent;
	/* box-shadow: 0 2px 10px var(--black-a4); */
	margin: 0 auto;
	margin-top: 2rem;
}

.footer .links {
	display: flex;
	justify-content: space-evenly;
}
.footer .links a {
	border: 1px solid var(--lightBlue);
	padding: 0.75rem 0.75rem 0.5rem 0.75rem;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	row-gap: 0.5rem;
	align-items: center;
	justify-content: space-between;
	width: 130px;
}
.footer .links a img {
	max-width: 30px;
	max-height: 30px;
	height: 30px;
	padding: 0;
	margin: 0;
}
/* -------------------------------------------------
HEADER
------------------------------------------------ */
.header .logo {
	/* height: 18vh;
	max-height: 300px;
	min-height: 100px; */
	padding-top: 1em;
	will-change: filter;
	transition: filter 300ms;
}

.card {
	padding: 0.5rem 0;
	width: 50%;
}
.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	row-gap: 1.25rem;
	margin: 0 auto;
	padding: 0;
}
body h1 {
	font-size: 2.2rem;
	line-height: 1.1;
	/* margin: 0.5rem 0; */
	font-weight: 700;
	letter-spacing: 0.1rem;
	color: var(--primary);
	max-width: 90%;
	width: 90%;
	/* /word-break: break-all; */
	word-wrap: break-word;
}
body h1:after {
	content: " ";
	display: block;
	width: 60%;
	height: 1px;
	border-bottom: 1px solid var(--lightBlue);
	margin: 0.5rem auto;
}
body h2 {
	font-size: 1.8rem;
	line-height: 1.1;
	margin: 0.75rem 0;
	font-weight: 700;
	color: var(--yellow);
}
body h3 {
	font-size: 1.8rem;
	line-height: 1.1;
	font-weight: 700;
}
.subtitle {
	font-size: 1rem;
	color: var(--primary);
	font-weight: 400;
}
.subtitle p {
	margin-bottom: 0.5rem;
}
.subtitle.tip {
	font-size: 0.85rem;
	color: var(--yellow);
	font-weight: 400;
}
.subtitle.start {
	font-weight: 600;
}
.content {
	width: 100%;
}
.acronym-accordion {
	width: 100%;
}
.accordion-item {
	width: 25%;
}

.logo.apple svg path {
	fill: var(--primary);
}
.logo.android svg path {
	fill: var(--primary);
	/* stroke: var(--background); */
}
div[data-vaul-overlay][data-vaul-snap-points-overlay="true"] {
	opacity: 0.35;
}
@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}

.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
}
.footer a {
	color: var(--yellow);
	text-decoration: underline;
}
.footer a:hover {
	color: var(--lightBlue);
}

.footer b {
	position: relative;
	display: inline-block;
}
.footer b::after {
	content: " ";
	width: 90%;
	height: 14px;
	background-color: var(--yellow);
	opacity: 0.4;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	margin-top: 12px;
	margin-left: -4px;
}
.footer b::after {
	width: 110%;
	margin-top: 14px;
	margin-left: -5%;
}
.footer u {
	text-decoration-color: var(--yellow);
	text-decoration-thickness: 4px;
	font-weight: 600;
}
.footer a {
	text-decoration-color: var(--yellow);
	text-decoration-thickness: 4px;
	font-weight: 600;
}
.footer .links a {
	text-decoration: none;
	color: var(--primary);
}
.sf-footer-version {
	font-size: 0.8rem;
	font-weight: 300;
	color: var(--primary);
}
.bgImgs {
	position: absolute;

	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	user-select: none;
	z-index: -1;
	overflow: hidden;
	/* outline: 10px solid #ccc; */
	.icon {
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		width: 100%;
		svg {
			max-width: 425px;
			width: 100%;
			opacity: 0.07;
			path {
				fill: #181136;
				stroke: #181136;
			}
		}
	}

	.icon.thumbsup {
		left: auto;
		right: 0%;
		top: 0%;
		transform: rotateZ(-15deg) scale(0.9) translate(0%, 12.5%) scaleX(-1);
		svg {
			opacity: 0.2;
		}
	}
	.icon.vwhand {
		top: 15%;
		left: 0;
		transform: rotateZ(45deg) scale(0.7) translate(-40%, 0);
	}
	.icon.fistbump,
	.icon.peacehand {
		top: auto;
		bottom: 0;
		left: 0;
		/* right: 0%; */
		margin-right: -10%;
		transform: rotateZ(0deg) scale(0.25) translate(0%, 160%);
		svg {
			opacity: 0.2;
			path {
				fill: #adadad;
				stroke: #adadad;
			}
		}
	}
	.icon.fistbump {
		top: auto;
		bottom: 0;
		left: 0;
		/* right: 0%; */
		margin-right: -10%;
		transform: rotateZ(0deg) scale(0.5) translate(0%, 85%);
		svg {
			opacity: 0.4;
			path {
				fill: #adadad;
				stroke: #adadad;
			}
		}
	}
	.icon.oneDay {
		top: 35%;
		left: 50%;
		width: fit-content;
		height: fit-content;
		transform: translate(-50%, -50%) scale(1.75);
		opacity: 0.1;
		mix-blend-mode: hard-light;
		/* filter: blur(2px); */

		/* transform: rotateZ(0deg) scale(0.5) translate(0%, 85%); */
	}
}
