@keyframes fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
@keyframes fade-out {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}
@keyframes scale-in {
	0% {
		transform: scale(0);
	}

	100% {
		transform: scale(1);
	}
}
@keyframes scale-in-20 {
	0% {
		transform: scale(0.2);
	}

	100% {
		transform: scale(1);
	}
}
@keyframes scale-in-50 {
	0% {
		transform: scale(0.5);
	}

	100% {
		transform: scale(1);
	}
}
@keyframes scale-in-60 {
	0% {
		transform: scale(0.6);
	}

	100% {
		transform: scale(1);
	}
}
@keyframes scale-in-70 {
	0% {
		transform: scale(0.7);
	}

	100% {
		transform: scale(1);
	}
}
@keyframes scale-in-120 {
	0% {
		transform: scale(1.2);
	}

	100% {
		transform: scale(1);
	}
}
@keyframes scale-out {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(0);
	}
}
@keyframes move-in-up {
	0% {
		transform: translateY(10%);
	}

	100% {
		transform: translateY(0%);
	}
}
@keyframes move-in-up-20 {
	0% {
		transform: translateY(20%);
	}

	100% {
		transform: translateY(0%);
	}
}
@keyframes move-in-up-40 {
	0% {
		transform: translateY(40%);
	}

	100% {
		transform: translateY(0%);
	}
}
@keyframes move-in-up-100 {
	0% {
		transform: translateY(100%);
	}

	100% {
		transform: translateY(0%);
	}
}
@keyframes move-in-up-200 {
	0% {
		transform: translateY(200%);
	}

	100% {
		transform: translateY(0%);
	}
}
@keyframes move-out-up {
	0% {
		transform: translateY(0%);
	}

	100% {
		transform: translateY(10%);
	}
}
@keyframes move-in-down-100 {
	0% {
		transform: translateY(-100%);
	}

	100% {
		transform: translateY(0%);
	}
}
@keyframes move-out-down {
	0% {
		transform: translateY(0%);
	}

	100% {
		transform: translateY(10%);
	}
}
@keyframes move-out-down-100 {
	0% {
		transform: translateY(0%);
	}

	100% {
		transform: translateY(100%);
	}
}
@keyframes move-out-down-200 {
	0% {
		transform: translateY(0%);
	}

	100% {
		transform: translateY(200%);
	}
}
@keyframes move-out-down-300 {
	0% {
		transform: translateY(0%);
	}

	100% {
		transform: translateY(300%);
	}
}
@keyframes move-out-down-400 {
	0% {
		transform: translateY(0%);
	}

	100% {
		transform: translateY(400%);
	}
}
@keyframes move-in-left-100 {
	0% {
		transform: translateX(-100%);
	}

	100% {
		transform: translateX(0%);
	}
}
@keyframes move-out-left {
	0% {
		transform: translateX(0%);
	}

	100% {
		transform: translateX(-10%);
	}
}
@keyframes move-in-right-100 {
	0% {
		transform: translateX(100%);
	}

	100% {
		transform: translateX(0%);
	}
}
@keyframes move-out-right {
	0% {
		transform: translateX(0%);
	}

	100% {
		transform: translateX(10%);
	}
}
@keyframes move-down-loop-50 {
	0% {
		transform: translateY(0%);
	}

	50% {
		transform: translateY(50%);
	}

	100% {
		transform: translateY(0%);
	}
}
@keyframes move-down-loop-100 {
	0% {
		transform: translateY(0%);
	}

	50% {
		transform: translateY(100%);
	}

	100% {
		transform: translateY(0%);
	}
}
@keyframes move-down-loop-200 {
	0% {
		transform: translateY(0%);
	}

	50% {
		transform: translateY(200%);
	}

	100% {
		transform: translateY(0%);
	}
}
@keyframes scale-loop-100-10-100 {
	0% {
		transform: scale(100%);
	}

	50% {
		transform: scale(10%);
	}

	100% {
		transform: scale(100%);
	}
}
@keyframes scale-loop-100-20-100 {
	0% {
		transform: scale(100%);
	}

	50% {
		transform: scale(20%);
	}

	100% {
		transform: scale(100%);
	}
}
@keyframes scale-loop-100-30-100 {
	0% {
		transform: scale(100%);
	}

	50% {
		transform: scale(30%);
	}

	100% {
		transform: scale(100%);
	}
}
@keyframes scale-loop-100-40-100 {
	0% {
		transform: scale(100%);
	}

	50% {
		transform: scale(40%);
	}

	100% {
		transform: scale(100%);
	}
}
@keyframes scale-loop-100-50-100 {
	0% {
		transform: scale(100%);
	}

	50% {
		transform: scale(50%);
	}

	100% {
		transform: scale(100%);
	}
}
@keyframes scale-loop-100-60-100 {
	0% {
		transform: scale(100%);
	}

	50% {
		transform: scale(60%);
	}

	100% {
		transform: scale(100%);
	}
}
@keyframes scale-loop-100-70-100 {
	0% {
		transform: scale(100%);
	}

	50% {
		transform: scale(70%);
	}

	100% {
		transform: scale(100%);
	}
}
@keyframes scale-loop-100-80-100 {
	0% {
		transform: scale(100%);
	}

	50% {
		transform: scale(80%);
	}

	100% {
		transform: scale(100%);
	}
}
@keyframes scale-loop-100-90-100 {
	0% {
		transform: scale(100%);
	}

	50% {
		transform: scale(90%);
	}

	100% {
		transform: scale(100%);
	}
}
@keyframes flip-y {
	0% {
		transform: scaleY(0%);
	}

	100% {
		transform: scaleY(-100%);
	}
}
@keyframes rotate-x-5-pos {
	0% {
		transform: rotateX('0deg');
	}

	100% {
		transform: rotateX('5deg');
	}
}
@keyframes rotate-x-10-pos {
	0% {
		transform: rotateX('0deg');
	}

	100% {
		transform: rotateX('10deg');
	}
}
@keyframes rotate-x-15-pos {
	0% {
		transform: rotateX('0deg');
	}

	100% {
		transform: rotateX('15deg');
	}
}
@keyframes rotate-x-20-pos {
	0% {
		transform: rotateX('0deg');
	}

	100% {
		transform: rotateX('20deg');
	}
}
@keyframes rotate-x-25-pos {
	0% {
		transform: rotateX('0deg');
	}

	100% {
		transform: rotateX('25deg');
	}
}
@keyframes rotate-x-30-pos {
	0% {
		transform: rotateX('0deg');
	}

	100% {
		transform: rotateX('30deg');
	}
}
@keyframes rotate-x-35-pos {
	0% {
		transform: rotateX('0deg');
	}

	100% {
		transform: rotateX('35deg');
	}
}
@keyframes rotate-x-40-pos {
	0% {
		transform: rotateX('0deg');
	}

	100% {
		transform: rotateX('40deg');
	}
}
@keyframes rotate-x-45-pos {
	0% {
		transform: rotateX('0deg');
	}

	100% {
		transform: rotateX('45deg');
	}
}

@keyframes rotate-x-5-neg {
	0% {
		transform: rotateX('0deg');
	}

	100% {
		transform: rotateX('-5deg');
	}
}
@keyframes rotate-x-10-neg {
	0% {
		transform: rotateX('0deg');
	}

	100% {
		transform: rotateX('-10deg');
	}
}
@keyframes rotate-x-15-neg {
	0% {
		transform: rotateX('0deg');
	}

	100% {
		transform: rotateX('-15deg');
	}
}
@keyframes rotate-x-20-neg {
	0% {
		transform: rotateX('0deg');
	}

	100% {
		transform: rotateX('-20deg');
	}
}
@keyframes rotate-x-25-neg {
	0% {
		transform: rotateX('0deg');
	}

	100% {
		transform: rotateX('-25deg');
	}
}
@keyframes rotate-x-30-neg {
	0% {
		transform: rotateX('0deg');
	}

	100% {
		transform: rotateX('-30deg');
	}
}
@keyframes rotate-x-35-neg {
	0% {
		transform: rotateX('0deg');
	}

	100% {
		transform: rotateX('-35deg');
	}
}
@keyframes rotate-x-40-neg {
	0% {
		transform: rotateX('0deg');
	}

	100% {
		transform: rotateX('-40deg');
	}
}
@keyframes rotate-x-45-neg {
	0% {
		transform: rotateX('0deg');
	}

	100% {
		transform: rotateX('-45deg');
	}
}
@keyframes rotate-x-50-neg {
	0% {
		transform: rotateX('0deg');
	}

	100% {
		transform: rotateX('-50deg');
	}
}

@keyframes rotate-x-55-neg {
	0% {
		transform: rotateX('0deg');
	}

	100% {
		transform: rotateX('-55deg');
	}
}

@keyframes rotate-x-60-neg {
	0% {
		transform: rotateX('0deg');
	}

	100% {
		transform: rotateX('-60deg');
	}
}

@keyframes rotate-x-65-neg {
	0% {
		transform: rotateX('0deg');
	}

	100% {
		transform: rotateX('-65deg');
	}
}

@keyframes rotate-x-70-neg {
	0% {
		transform: rotateX('0deg');
	}

	100% {
		transform: rotateX('-70deg');
	}
}

@keyframes rotate-x-75-neg {
	0% {
		transform: rotateX('0deg');
	}

	100% {
		transform: rotateX('-75deg');
	}
}

@keyframes rotate-x-80-neg {
	0% {
		transform: rotateX('0deg');
	}

	100% {
		transform: rotateX('-80deg');
	}
}

@keyframes rotate-x-85-neg {
	0% {
		transform: rotateX('0deg');
	}

	100% {
		transform: rotateX('-85deg');
	}
}
@keyframes rotate-x-90-neg {
	0% {
		transform: rotateX('0deg');
	}

	100% {
		transform: rotateX('-490deg');
	}
}


@keyframes bounce-in {
	0% {
		transform: scale(100%);
	}
	70% {
		transform: scale(110%);
	}

	100% {
		transform: scale(100%);
	}
}
@keyframes bounce-out {
	0% {
		transform: scale(100%);
	}
	30% {
		transform: scale(110%);
	}

	100% {
		transform: scale(100%);
	}
}
