@keyframes fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
@keyframes fade-out {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}
@keyframes scale-in {
	0% {
		transform: scale(0);
	}

	100% {
		transform: scale(1);
	}
}
@keyframes scale-in-20 {
	0% {
		transform: scale(0.2);
	}

	100% {
		transform: scale(1);
	}
}
@keyframes scale-in-50 {
	0% {
		transform: scale(0.5);
	}

	100% {
		transform: scale(1);
	}
}
@keyframes scale-in-60 {
	0% {
		transform: scale(0.6);
	}

	100% {
		transform: scale(1);
	}
}
@keyframes scale-in-70 {
	0% {
		transform: scale(0.7);
	}

	100% {
		transform: scale(1);
	}
}
@keyframes scale-in-120 {
	0% {
		transform: scale(1.2);
	}

	100% {
		transform: scale(1);
	}
}
@keyframes scale-out {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(0);
	}
}
@keyframes move-in-up {
	0% {
		transform: translateY(10%);
	}

	100% {
		transform: translateY(0%);
	}
}
@keyframes move-in-up-20 {
	0% {
		transform: translateY(20%);
	}

	100% {
		transform: translateY(0%);
	}
}
@keyframes move-in-up-40 {
	0% {
		transform: translateY(40%);
	}

	100% {
		transform: translateY(0%);
	}
}
@keyframes move-in-up-100 {
	0% {
		transform: translateY(100%);
	}

	100% {
		transform: translateY(0%);
	}
}
@keyframes move-out-up {
	0% {
		transform: translateY(0%);
	}

	100% {
		transform: translateY(10%);
	}
}
@keyframes move-in-down-100 {
	0% {
		transform: translateY(-100%);
	}

	100% {
		transform: translateY(0%);
	}
}
@keyframes move-out-down {
	0% {
		transform: translateY(0%);
	}

	100% {
		transform: translateY(10%);
	}
}
@keyframes move-out-down-100 {
	0% {
		transform: translateY(0%);
	}

	100% {
		transform: translateY(100%);
	}
}
@keyframes move-out-down-200 {
	0% {
		transform: translateY(0%);
	}

	100% {
		transform: translateY(200%);
	}
}
@keyframes move-in-left-100 {
	0% {
		transform: translateX(-100%);
	}

	100% {
		transform: translateX(0%);
	}
}
@keyframes move-out-left {
	0% {
		transform: translateX(0%);
	}

	100% {
		transform: translateX(-10%);
	}
}
@keyframes move-in-right-100 {
	0% {
		transform: translateX(100%);
	}

	100% {
		transform: translateX(0%);
	}
}
@keyframes move-out-right {
	0% {
		transform: translateX(0%);
	}

	100% {
		transform: translateX(10%);
	}
}
@keyframes move-pulse-down-loop-200 {
	0% {
		transform: translateY(0%);
	}

	50% {
		transform: translateY(200%);
	}

	100% {
		transform: translateY(0%);
	}
}
@keyframes scale-pulse-loop-60 {
	0% {
		transform: translateY(0%);
	}

	50% {
		transform: translateY(200%);
	}

	100% {
		transform: translateY(0%);
	}
}
