@import "@/globals.css";
body {
	div#bottom-navigation {
		width: 100vw;
		height: 3rem;
		position: fixed;
		z-index: 10;
		bottom: 0;
		left: 0;
		padding: 0;
		transform: none;
		background: transparent;
		.MuiBottomNavigation-root {
			height: 100%;
			background-color: rgba(20, 20, 20, 0.5);
			padding: 0;
			display: flex;
			justify-items: center;
			justify-content: space-around;
			align-items: center;
			button.MuiButtonBase-root {
				color: var(--primary);
				border-right: 1px solid rgba(150, 150, 150, 0.2);
				height: 100%;
				outline: none;
				span.MuiBottomNavigationAction-label {
					font-family: "Plus Jakarta Sans", sans-serif;
					font-size: 0.75rem;
					outline: none;
				}

				svg.MuiSvgIcon-root {
					width: 26px;
					height: 26px;
					stroke-width: 1px;
					stroke: one;
				}
				span.MuiTouchRipple-root {
					height: 100%;
					max-width: 100%;
				}
			}
			button.MuiButtonBase-root.active {
				svg.MuiSvgIcon-root {
					fill: var(--yellow);
					stroke: var(--yellow);

					path {
						fill: var(--yellow);
						stroke: var(--yellow);
					}
				}
				span.MuiBottomNavigationAction-label {
					opacity: 0;
					height: 0;
					font-size: 0;
					transition: all 0.3s ease-in-out;
				}
			}
			button.MuiButtonBase-root:last-child {
				border: none;
			}
		}
	}
}
