@use '@/scss/variables';
@import '@/globals.css';

#the-tools {
  scroll-margin-top: 20vh;
  margin: 0;
}

// .activity-tools {
//   visibility: visible;
//   user-select: auto;
//   opacity: 1;
//   transition: opacity 0.15s cubic-bezier(0.5, 0, 0.9, 1);
//   max-width: 100%;

//   &.hide {
//     user-select: none;
//     visibility: hidden;
//     opacity: 0;
//     transition: opacity 0.15s cubic-bezier(0.5, 0, 0.9, 1);
//   }
// }

section.activity-tools {
  position: relative;
  padding-top: 130px;

  h2 {
    font-size: variables.$h2_size;
    position: absolute;
    top: 0;
    left: 1rem;

    // display: inline-block;
    color: #fff;
    font-size: variables.$section_title_size_min;
    text-transform: uppercase;
    font-weight: 900;
    font-variation-settings: 'wght' 900;
    text-align: left;
    width: fit-content;
    text-decoration: underline;
    text-decoration-color: rgba(1, 245, 41, 0.65);
    text-decoration-thickness: 40%;
    text-underline-offset: -15.5%;
    text-decoration-skip-ink: none;
    line-height: 0.9;

  }

  p u {
    position: relative;
    display: inline-block;
    text-decoration: underline;
    text-decoration-color: var(--yellow);
    text-decoration-thickness: 4px;
  }

  .tools-description {
    width: 90%;

    p {
      color: var(--primary);
      font-size: variables.$med_size;
      font-weight: 800;
      font-variation-settings: 'wght' 800;
      line-height: 1.2;

      u {
        text-decoration-color: var(--orange);
      }
    }
  }
}