@use '@/scss/_variables.scss';
@import '@/globals.css';
$bg-color: #111;
$text-color: white;
$accent-color: var(--primary);
$pause-color: #ff9800;
$stop-color: #f44336;
$settings-color: var(--blue);
$charge-color: #ffff00;
$border-color: var(--greyMed);


body .main section.activity.activity-peng-game {
    display: flex;
    flex-direction: column;
    align-items: center;
    // align-content: center;
    // flex-flow: column nowrap;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    padding-bottom: 1rem;
    background-color: var(--greyDark90Trans);

    color: var(--parimary);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999999;

    &::after {
        content: '';
        width: 100%;
        height: 100%;
        background-color: var(--backgroundActivity);
        position: absolute;
        top: 0px;
        left: 0;
        z-index: -1;
    }

    .peng-game-inner {
        padding: 2rem 0;
        width: 100%;
        height: 100%;
        display: flex;
        // gap: 0.5rem;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: space-evenly;
    }

    .peng-game-header {
        display: flex;
        gap: 0.5rem;
        align-items: center;

        button {
            background: transparent;
            padding: 0.75rem;
            min-height: 0;
            height: fit-content;
            border: none;
            outline: none;

            svg {
                width: 30px;
                height: 30px;
                // fill: transparent;
                stroke: transparent
            }
        }
    }
}

.score-board {
    font-size: 1.25rem;
    // margin-bottom: 1rem;
    display: flex;
    gap: 0.5rem;
    width: 100%;
    // outline: 1px solid yellow;
    justify-content: center;
    align-content: center;
    align-content: center;
    align-items: center;
    // align-items: stretch; // align-items: stretch;
}

.peng-game-player {
    display: flex;
    align-items: center;
    align-content: center;
    // outline: 1px solid #ccc;
    gap: 0.5rem;
    align-self: stretch;
    width: 100%;
    height: 100%;
    text-align: right;
}

.peng-game-player:last-child {
    text-align: left;
    align-self: flex-start;
}

.peng-game-player-score {
    font-weight: 800;
    font-variation-settings: 'wght' 800;
    font-size: 2.5rem;
    color: var(--yellow);
}

.score-board-vs {
    color: var(--lightBlue);
    height: 100%;
    align-self: center;
    // outline: 1px solid #ccc;
    align-content: center
}

.peng-game-player:first-child {
    text-align: right;
    align-self: flex-end;
    justify-content: flex-end;
}

.canvas-wrapper {
    width: 100%;
    max-width: var(--max-width);
    height: 50vh;
    max-height: 500px;
    aspect-ratio: 1.5;
    border: 1px solid var(--greyMid);
    overflow: hidden;
}

.peng-canvas {
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--blue20Trans);
}



.toggle-control,
.slider-control {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;

    label {
        font-size: 1rem;
        color: var(--grey);
        width: 90%;
        display: flex;
        text-align: left;

        div {
            width: 50%;
            align-self: flex-end;
        }

        div:last-child {
            text-align: right;
            font-size: 1.25rem;
            font-weight: 600;
            font-variation-settings: 'wght' 600;
            color: var(--primary);
        }
    }

    input[type="range"] {
        width: 90%;
        cursor: pointer;
        background: var(--greyDark20Trans);
        height: 4px;
        border-radius: 2px;
        -webkit-appearance: none;
        appearance: none;

        &::-webkit-slider-thumb {
            appearance: none;
            -webkit-appearance: none;
            width: 22px;
            height: 22px;
            border-radius: 50%;
            background: var(--yellow50Trans);
            cursor: pointer;
        }

        &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }
    }
}

.toggle-control label {
    text-align: center;
    justify-content: center;
    flex-direction: row;
    gap: 0.5rem;
}

.button-group {
    margin-top: 1.0rem;
    width: 100%;
    display: flex;

    gap: 1rem;
    flex-wrap: nowrap;
    justify-content: center;
}

.start-button,
.pause-button,
.stop-button,
.settings-button {

    transition: opacity 0.2s, transform 0.1s;


    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}


.settings-button {
    width: fit-content;
    background: transparent;
}

/* Modal styles */
.activity-peng-game .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--greyDark40Trans);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    padding: 0;
    margin: 0;
}

.activity-peng-game .modal-content {
    border-radius: var(--border-radius);
    max-width: 450px;
    width: 90%;
    max-height: 90vh;
    overflow-y: auto;
    overflow-x: hidden;
    color: white;
    border: 1px solid $border-color;
    padding: 0;
    margin: 0;

    // /* iOS Safari specific positioning */
    // @supports (-webkit-touch-callout: none) {
    //     position: fixed;
    //     top: 50%;
    //     left: 50%;
    //     transform: translate(-50%, -50%);
    //     width: 90%;
    //     max-width: 360px;
    // }


    .modal-inner {
        background-color: var(--backgroundActivity);
        padding: 2rem 0.5rem;
        width: 100%;
        height: 100%;
        position: relative;

        &::after {
            content: '';
            width: 100%;
            height: 100%;
            background-color: var(--greyDark);
            position: absolute;
            top: 0px;
            left: 0;
            z-index: -1;
        }

    }

    h2 {
        margin-top: 0;
        text-align: center;
        color: $accent-color;
    }

    h4 {
        text-transform: uppercase;
        color: var(--primary);
        text-decoration: none;

    }

    .game-settings-title {
        text-transform: uppercase;
    }
}

.instructions-modal {
    margin-top: 1.5rem;
    padding: 1rem;

    border-radius: 4px;
    font-size: 0.9rem;
    line-height: 1.5;
    display: flex;
    gap: 1rem;
    flex-flow: column nowrap;

    h4 {
        color: var(--primary);
        margin-bottom: 0.5rem;
        text-transform: uppercase;

    }

    p {
        margin: 0.3rem 0;
        width: 100%;
    }
}

.modal-overlay .modal-buttons {
    display: flex;
    // flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100%;

    button {

        transition: opacity 0.2s;
        padding: 0.5rem 1.5rem;

        &:hover {
            opacity: 0.8;
        }

        svg {
            width: 30px;
            height: 30px;
        }
    }

    .apply-button {
        color: white;
    }

    .reset-button {
        color: white;
    }

    .cancel-button {
        color: white;
    }
}